<div class="sidenav-item sidenav-heading">
    <span>Bouquets for every category.</span>
  </div>
  <div *ngFor = "let category of categories" 
  (click) = "getProducts(category)"
  class="sidenav-item"><span>{{category.categoryName}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item empty-sidenav">
  </div>
  <div class="sidenav-item"><span>About Waltz de Fleur</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item empty-sidenav">
  </div>
  <div class="sidenav-item"><span>My Account</span>
    <mat-icon svgIcon="person"></mat-icon>
  </div>
