.sidenav-item {
    width: 100%;
    line-height: 2em;
    padding: .25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidenav-heading {
    font-size: .8em;
    line-height: 1em;
}

.empty-sidenav {
    height: 1.5em;
}