.tophalf {
    width: 100%;
    height: fit-content;
    position: relative;
}

.marquee {
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1e1e1e;
}

.marquee h4 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    color: #fffff7;
    font-size: .9em;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-160%);
    }
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/assets/images/slides/bouquet.jpg");
    background-size: cover;
    background-position: right 58% bottom 50%;
    opacity: 0.90;
    margin-bottom: -2em;
}

mat-toolbar {
    width: 100%;
    height: 5em !important;
    position: relative;
    /* padding: 1em !important; */
    display: flex;
    flex-direction: column;
    background: #fffff5 !important;
    color: #1e1e1e !important;
    padding: 0;
}

.main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mat-sidenav {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em;
    z-index: 10;
    background: #fffff7;
}

.sidenav-close {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}


.nav {
    height: 90%;
    display: flex;
    align-items: center;
    padding-top: .5em;
}

.left-nav {
    width: 20%;
    display: flex;
    justify-content: center;
}

.right-nav {
    width: 20%;
    padding-right: 1em;
}

.center-nav {
    width: 55%;
    display: flex;
    align-content: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a,
a:active,
a:focus,
a:visited {
    color: #1e1e1e;
}

.brand {
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.title {
    font-size: 1.5em;
    text-align: center;
}

.subtitle {
    font-size: 1em;
    text-align: center;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    padding: .25em 0 !important;
    width: fit-content;
    height: fit-content;
    margin: .25em;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
    display: none;
}

button.account-button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
    display: none;
}

.mat-icon svg {
    fill: none;
    stroke-width: 3;
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    display: none;
}

/* search */
.search-sidenav {
    width: 100%;
    padding: .5em;
    padding-top: 1em;
}

.search-nav {
    height: 100%;
}

.search-line {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
    background: none !important;
}

.mat-mdc-form-field {
    max-width: 100%;
}

mat-form-field {
    width: 100%;
    font-size: 1em;
}

.search-close-button {
    padding: none;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

.mat-mdc-form-field-flex {
    height: 2em;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 0;
}

.mat-mdc-icon-button .mat-mdc-button-ripple {
    display: none !important;
}

#drawer {
    height: 100%;
}

.cart-nav {
    width: 100%;
    height: 100%;
    padding: 0 1em
}

.cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    background-color: #fffff7;
    z-index: 6;
    padding: 0 1em;
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 4;
    transition: background-color .2s;
    transition-delay: -1s;
}

.sticky a:active,
.sticky a:focus,
.sticky a:visited,
.sticky a {
    color: #1e1e1e;
}

.mat-icon.black-icon svg path {
    color: #1e1e1e;
    stroke: #1e1e1e;
    stroke-width: 2;
}

.mat-icon.notranslate.mat-badge.white-icon.mat-badge-warn.mat-icon-no-color.mat-badge-overlap.mat-badge-above.mat-badge-after.mat-badge-medium.black-icon path {
    stroke: #1e1e1e;
}

.search-open {
    height: 8em !important;
}

.cart-nav {
    width: 100%;
    min-height: 100vh;
}

.cart-action {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.cart-action button {
    width: 100%;
    background-color: black;

}

.button-text {
    color: white;
    font-size: 1.2em;
}
