<mat-sidenav [(opened)]="opened">
  <div class="sidenav-close">
    <button (click)="opened = !opened" mat-icon-button class="close-button" aria-label="close menu button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="sidenav-item sidenav-heading">
    <span>Bouquets for every occasion.</span>
  </div>
  <div class="sidenav-item"><span>Birthday</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item"><span>Lover</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item"><span>Gratitude</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item"><span>Get Well</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item"><span>New Beginnings</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item empty-sidenav">
  </div>
  <div class="sidenav-item"><span>About Waltz de Fleur</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="sidenav-item empty-sidenav">
  </div>
  <div class="sidenav-item"><span>My Account</span>
    <mat-icon svgIcon="person"></mat-icon>
  </div>
</mat-sidenav>
<mat-sidenav #drawer position="end" class="search-sidenav">

  <div *ngIf="searchMode" class="sidenav-item">
    <div class="sidenav-close">
      <button class="search-close-button" mat-button (click)=drawer.toggle()>close</button>
    </div>
    <mat-form-field class="example-form-field">
      <input matInput placeholder="Search" type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="search-close-button" mat-button>
      <mat-icon svgIcon="search"></mat-icon>
    </button>
  </div>
  <div *ngIf="!searchMode" class="cart-nav">
    <div class="cart-header">
      <h3>My Cart - {{cartCount}} items</h3>
      <button class="search-close-button" mat-icon-button (click)=drawer.toggle()>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-cart></app-cart>
  </div>

</mat-sidenav>

<div class="tophalf">
  <div class="bg-image"></div>
  <mat-toolbar>
    <div class="left-nav nav">
      <button (click)="opened = !opened" mat-icon-button class="menu-button" aria-label="open menu button">
        <mat-icon svgIcon="menu" class="white-icon"></mat-icon>
      </button>
    </div>
    <div class="center-nav nav">
      <a routerLink="/home" class="brand">Bijou Fleur</a>
    </div>
    <div class="right-nav nav">
      <button (click)="drawer.toggle(); searchMode = true" mat-icon-button class="search-button"
        aria-label="search button">
        <mat-icon svgIcon="search" class="white-icon"></mat-icon>
      </button>
      <button mat-icon-button class="account-button gray-icon" aria-label="account information button">
        <mat-icon svgIcon="person" class="white-icon"></mat-icon>
      </button>
      <button (click)="drawer.toggle(); searchMode = false" mat-icon-button class="shopping-bag-button gray-icon"
        aria-label="shopping bag button">
        <mat-icon svgIcon="bag" class="white-icon" [matBadge]="cartCount" matBadgeColor="warn"></mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>