<mat-sidenav [(opened)]="opened" [mode]="'side'" fixedInViewport="true">
  <div class="sidenav-close">
    <button (click)="opened = !opened" mat-icon-button class="close-button" aria-label="close menu button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <app-occasion-sidenav></app-occasion-sidenav>
</mat-sidenav>
<mat-sidenav #drawer position="end" [(opened)]="cartOpen" fixedInViewport="true" class="cart-nav">
  <div class="cart-header">
    <h3>My Cart - {{cartCount}} items</h3>
    <button class="search-close-button" mat-icon-button (click)="cartOpen = !cartOpen">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <app-cart></app-cart>
  <div class="cart-action">
    <button mat-flat-button routerLink = "/checkout"
    (click)="cartOpen = !cartOpen">
      <span class="button-text">proceed to payment</span></button>
</div>

</mat-sidenav>

<div class="tophalf">
  <!-- <div class="bg-image" [style.background-image]="'url(' + image + ')'"></div> -->
  <mat-toolbar #stickyMenu [class.sticky]="isSticky" [class.search-open]="showSearchBar">
    <div class="main-nav">
      <div class="left-nav nav">
        <button (click)="opened = !opened" mat-icon-button class="menu-button" aria-label="open menu button">
          <mat-icon svgIcon="menu" class="black-icon"></mat-icon>
        </button>
      </div>
      <div class="center-nav nav">
        <a routerLink="/home" class="brand">
          <span class="title">Vera</span><span class="subtitle">flowers & gifts</span>
        </a>
      </div>
      <div class="right-nav nav">
        <button (click)="toggleSearchBar()" mat-icon-button class="search-button" aria-label="search button">
          <mat-icon svgIcon="search" class="black-icon"></mat-icon>
        </button>
        <button mat-icon-button class="account-button gray-icon" aria-label="account information button">
          <mat-icon svgIcon="person" class="black-icon"></mat-icon>
        </button>
        <button (click)="drawer.toggle(); searchMode = false" mat-icon-button class="shopping-bag-button gray-icon"
          aria-label="shopping bag button">
          <mat-icon svgIcon="bag" class="black-icon" [matBadge]="cartCount" matBadgeColor="warn"></mat-icon>
        </button>
      </div>
    </div>
    <div class="search-line">
      <mat-form-field class="example-form-field" appearance="outline" *ngIf="showSearchBar">
        <input (keyup.enter)="search(value)" matInput placeholder="Search" type="text" [(ngModel)]="value">
        <button class="search-button" mat-button (click)="search(value)" matSuffix>
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>

    </div>
  </mat-toolbar>
</div>