/* .product-detail-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.detail-card{
    width:100%;
    position: relative;
    bottom: 4em;
}
.title{
    font-size: 1.5em;
}
.description{
    margin-top: 1em;
}
.price{
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}
mat-card-actions{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}
mat-card-actions button{
    width: 100%;
    background-color: black;
    color: white;
}
mat-accordion{
    margin-top: 1em;
} */
.detail-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 3em;
    background-color: #fffff1;
}
.info-container{
    width: 45%;
    float: left;
}
.image-container{
    width: 45%;
    float: left;
    margin-right: 2em;
}
.info-container div{
line-height: 1.5em;
margin: 1em 0;
}
.price{
    font-size: 1.25em;
}
.title{
    font-size: 1.5em;
}
.outofstockMessage{
    color: red;
}
.mat-mdc-raised-button:not(:disabled){
    background: black;
}
.button-text{
    color: white;
}
@media only screen and (max-width: 768px) {
    .info-container, .image-container{
        width: 100%;
    }
  }