.products{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .25em;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}
.result-text{
    width: 95%;
    padding-left: .25em;
    margin: 1.5em 0;
    font-size: .75em;
    color: #050505;
}
.result-text p{
    width: 100%;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
hr {
    border: none;
    border-top: 1px solid gainsboro; /* Change this to the desired color */
  }
  .cards{
    min-height: 60vh;
  }
mat-card{
    width: calc(90%/2);
    background-color: #fffff1;
    --mdc-elevated-card-container-elevation: none;
}
.image:hover, .title:hover, .price:hover{
    cursor: pointer;
}
.outofstock{
    opacity: 0.65;
}
mat-card-content{
    padding: 1.25em 0;
}
.title{
    text-align: center;
    font-weight: 600;
    font-size: .90em;
    text-transform: uppercase;
}
.price{
    text-align: center;
}
.image{
    /* background-image: url("/assets/images/slides/bouquet.jpg");  */
    height: 20vh;
    width: 100%;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
mat-card-actions{
    display: flex;
    justify-content: center;
    display: none;
}
mat-paginator{
    background-color: #fffff1;
    margin-bottom: 2em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    /* Styles */
    app-occasion-list{
        display: none;
    }
    .image{
        /* background-image: url("/assets/images/slides/bouquet.jpg");  */
        height: 46vw;
        width: 46vw;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
  }
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    /* Styles */
    mat-card{
        width: calc(90%/3);
        --mdc-elevated-card-container-elevation: none;
    }
    .image{
        height: 31.58vw;
        width: 31.58vw;
    }
  }
  @media only screen and (min-width: 992px) {
    /* Styles */
    .products{
        width: 80%;
    }
    mat-card{
        width: calc(90%/4);
        --mdc-elevated-card-container-elevation: none;
    }
    .image{
        /* background-image: url("/assets/images/slides/bouquet.jpg");  */
        height: 18vw;
        width: 18vw;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
  }