.confimation{
    height: 70vh;
    text-align: center;
}
.confimation h2, h4, li {
    margin: 0.5em;
}
.mat-mdc-button .mdc-button__label, 
.mat-mdc-unelevated-button .mdc-button__label, 
.mat-mdc-raised-button .mdc-button__label, 
.mat-mdc-outlined-button .mdc-button__label{
    color: white !important;
}