<div class="confimation">
    <h2>Thank you for shopping!</h2>
    <h4>Your order number is {{trackingNumber}}</h4>
    <h4>What's next?</h4>
    <ul>
        <li>We will send confimation of the order and information about its progress by email.</li>
        <li>The order will be processed once your payment is confirmed.</li>
        <li>We will ship out your order tomorrow if everything looks good.</li>
        <li>Contact us if you have any questions.</li>
        <button mat-flat-button
        routerLink = "home">Home</button>
    </ul>
</div>
    