<div class="jumbotron">
    <div style="margin: 0 auto; max-width: 800px; text-align: center;">
        <h1 style="font-size: 3rem; font-weight: 500; margin-bottom: 2rem;">Information and Policies</h1>
    </div>
    <div class="links">
        <a href="/policies#shipping">Shipping & Delivery</a>
  <a href="/policies#returns">returns & exchanges</a>
  <a href="/policies#privacy">privacy</a>
  <a href="/policies#pets">pets & children</a>
  <!-- <a href="/policies#catAllergyWarning">Cat Allergy Warning</a> -->
    </div>
</div>
<div class="shipping subheading" id="shipping">
    <h1>Shipping & Delivery</h1>
    <p>We currently serve only the state of NC and charge a flat fee of $5 for all deliveries.</p>
    <p>Once we receive and process your order, we will send a confirmation email containing your order number, shipping
        address, and any other critical information. Please contact us immediately if any of that information needs
        correction or if you’d like to cancel the order.</p>
    <p>We ship out orders after 12 - 24 hours of receiving orders to allow room for correction.</p>
    <p>Once shipped, we’ll send you the tracking number and instructions for tracking your delivery. Your package should
        arrive within 2-3 days of shipment.</p>
</div>
<div class="subheading" id="returns">
    <h1>Return & Exchange</h1>
    <p>Due to the nature of fresh flowers, it is not always feasible to issue returns. However, we do offer replacements
        or store credits for any orders that do not meet the expectation.</p>

    <p>If the product has not been shipped yet, you can cancel it by contacting us through our email. Please include the
        order number in the email.</p>

    <p>If a product different from the one you ordered is delivered, please contact us immediately after receiving it
        and we will exchange it immediately or process a refund.</p>

    <p>In the case of giving an incorrect delivery address, the full cost of delivery and processing may not be
        refunded.</p>

    <p>We reserve the right to not issue refunds, redeliveries, credits, etc. at our sole discretion.</p>

    <p>Please contact us through our email, VeraFlowersAndGifts@gmail.com, if you have any questions or concerns.</p>

</div>
<div class="subheading" id="privacy">
    <h1>Privacy</h1>
    <p>We respect your privacy and are committed to protecting your personal information.</p>
    <p>This privacy policy explains how we collect, use, and disclose your personal information.</p>

    <h2>Information We Collect</h2>
    <p>We collect personal information that you provide to us, such as your name, email address, and shipping address.
        We use this information to fulfill your orders and communicate with you about your orders.</p>

    <h2>Information We Share</h2>
    <p>We do not sell or share your personal information with third parties for their marketing purposes.</p>
    <p>We may share your personal information with service providers that perform services on our behalf, such as
        shipping companies and payment processors. These service providers are authorized to use your personal
        information only as necessary to provide these services to us.</p>

    <h2>Security</h2>
    <p>We take reasonable measures to protect your personal information from unauthorized access and use. However, no
        data transmission over the internet or wireless network can be guaranteed to be 100% secure. Therefore, we
        cannot guarantee the security of your personal information.</p>

    <h2>Changes to This Policy</h2>
    <p>We may update this privacy policy from time to time. The updated policy will be posted on our website with the
        updated effective date.</p>
</div>
<div class="subheading" id="pets">
    <h1>Pets, Children, & Flowers</h1>
    <p>We take the safety of our customers and their loved ones very seriously. Please be aware that some flowers and
        plants may be toxic to pets and children if ingested. We recommend keeping all flowers and plants out of reach
        of pets and children.</p>

    <p>If you have pets or children in your home, please let us know when placing your order so that we can take extra
        precautions to ensure that the flowers and plants we deliver are safe for your home.</p>

    <p>If you or anyone in your household has allergies, please let us know when placing your order. We will do our best
        to accommodate your needs and recommend flowers and plants that are less likely to trigger allergies.</p>

    <p>If you have any questions or concerns about the safety of our flowers and plants, please do not hesitate to
        contact us. We are always happy to help.</p>

</div>
<!-- <div class="subheading" id="catAllergyWarning">
    <h1>Cat Allergy Warning</h1>

    <p>We love our furry friends, and we know that many of our customers do too. However, we want to make sure that
        everyone who visits our online flower shop is aware that we have cats on the premises. While we take great care
        to keep our cats away from the flowers and plants, we cannot guarantee that there will be no contact between
        them.</p>

    <p>If the person whom you’re sending flowers to has cat allergy, please let us know when placing your order. We will
        do our best to accommodate your needs and ensure that they have a safe and enjoyable experience.</p>

    <p>Thank you for your understanding, and we hope to serve you soon!</p>
</div> -->