<div class="checkout">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <mat-vertical-stepper formArrayName="formArray" [linear]="false" #stepper>
            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <div class="form-area">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error *ngIf="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) 
                            && firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                            First name is required.
                        </mat-error>
                        <mat-error *ngIf="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) && 
                            firstName?.errors?.['minlength']">
                            First Name must be at least 2 characters long.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error *ngIf="(lastName?.invalid && (lastName?.dirty || lastName?.touched)) 
                            && lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                            Last name is required.
                        </mat-error>
                        <mat-error *ngIf="(lastName?.invalid && (lastName?.dirty || lastName?.touched)) && 
                            lastName?.errors?.['minlength']">
                            Last Name must be at least 2 characters long.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="(email?.invalid && (email?.dirty || email?.touched)) 
                            && email?.errors?.['required']">
                            Email is required.
                        </mat-error>
                        <mat-error *ngIf="(email?.invalid && (email?.dirty || email?.touched)) && 
                            email?.errors?.['pattern']">
                            Email must be a valid email address format.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext class="next-button" type="button">Next</button>
                </div>
            </mat-step>
            <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!" class="address-step">
                <ng-template matStepLabel>Recipient Shipping Information</ng-template>
                <div class="form-area" id="shipping-address">
                    <div id="shipping-address"></div>
                </div>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button" (click)="showAddress()">Next</button>
                </div>
            </mat-step>
            <!-- credit card/payment -->
            <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!">
                <ng-template matStepLabel>Payment Information</ng-template>
                <div class="form-area">
                    <!-- <div id="shipping-address"></div> -->
                    <div id=card-element>
                        <!-- stripe elt inserted here -->
                    </div>
                    <!-- display form errors -->
                    <div id="card-errors">

                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <!-- add expansion panel for reviewing order -->
            <!-- add review your order before checking out -->
        </mat-vertical-stepper>
    </form>
    <div class="reviewItems">
        <h3>Review Items</h3>
        <div class="items">
            <div *ngFor="let item of cartItems" class="item">
                <div class="item-container" matBadge={{item.quantity}} matBadgeOverlap="false">
                    <img src={{item.imageUrl}}>
                </div>
            </div>

        </div>
    </div>

    <div class="totals">
        <div><span>Order subtotal</span><span>{{totalPrice | currency:'USD':true:'1.2-2'}}</span></div>
        <div><span>Taxes & fees</span><span>{{extraFees | currency:'USD':true:'1.2-2'}}</span></div>
        <div><span>Delivery</span><span>FREE</span></div>
        <div class="total"><span>Total</span><span>{{total | currency:'USD':true:'1.2-2'}}</span></div>
    </div>
    <div class="place-order">
        <button mat-flat-button
        [disabled]="!customerValid || !paymentValid || !addressValid"
        (click) = "onSubmit()">Place Order</button>
    </div>
</div>